body, html {
  margin: 0;
  padding: 0;
}

.welcomePage{
  height: 100vh;
}

.content-container {
  background-size:100% 100%;
  background-repeat: no-repeat;
  height: 91%;
  position: relative;
  top: 58px;
}

.container {
  margin-top: 100px;
}